<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>prog_1</servlet-name>
        <servlet-class>prog_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>data_base</servlet-name>
        <servlet-class>data_base</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prog_2</servlet-name>
        <servlet-class>prog_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prog_3</servlet-name>
        <servlet-class>prog_3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prog_4</servlet-name>
        <servlet-class>prog_4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prog_1</servlet-name>
        <url-pattern>/prog_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>data_base</servlet-name>
        <url-pattern>/data_base</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prog_2</servlet-name>
        <url-pattern>/prog_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prog_3</servlet-name>
        <url-pattern>/prog_3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prog_4</servlet-name>
        <url-pattern>/prog_4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
